
@keyframes animate {
    0% {
        box-shadow: 0 0 0 0 rgba(223, 223, 223, 0.7), 0 0 0 0 rgba(175, 175, 175, 0.7)
    }
  
    40% {
        box-shadow: 0 0 0 50px rgb(255, 109, 74, 0), 0 0 0 0 rgba(207, 191, 187, 0.0)
    }
  
    80% {
        box-shadow: 0 0 0 50px rgb(255, 109, 74, 0), 0 0 0 30px rgb(255, 109, 74, 0)
    }
  
    100% {
        box-shadow: 0 0 0 0 rgb(255, 109, 74, 0), 0 0 0 30px rgb(255, 109, 74, 0) 
    }
  }


